**/.git
**/.gitignore
**/.dockerignore
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/Thumbs.db
**/*.user
**/*.suo
.env
.env.local
node_modules
dist
coverage
.nuget
**/.idea
**/riderModule.xml
**/packages
demo/
